
*{
	padding: 0;
	margin: 0;
}
  
.wrapper{
	height: 100vh;
	display: flex;
	flex-direction: column;
}
h1{
	flex-grow: 0.5;
	font-size: 24px;
	color: #fff;
	text-align: center;
}

.display{
	min-height: 75px;
	content: '';
	height: 100%;
	width: auto;
	overflow: auto;
	padding-top: 5px;
	padding-right: 15px;
	color: #F8F9FA;
	font-size: 45px;
	align-items: center;
	display: -webkit-box;
	justify-content: flex-end;
}
.display-box{
	align-items: center;
	display: flex;
	justify-content: flex-end;
	flex-grow: 1.5;
}
.button{
	user-select: none;
	font-size: 25px;
	margin: 2px;
	background: #00253E;
	cursor: pointer;
	color: #DEE2E6;
	display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color , color 1.5s , 0.5s ease;
    &:hover{
		background-color: #002E4E;
		color: #F8F9FA;
	}
	
}
#result{
	background-color: #F8F9FA;
	color: #00111C;
}
.box-interface{
	flex-grow: 5;
	margin-top: 4px;
	display: grid;
	grid-template-columns: 3fr 1fr;
	text-align: center;
	.button-top-box{
		.small-functions-buttons{
			height: 20%;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
		}
		.button-second__box-Num{
			height: 80%;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-areas: 
			"a b c"
			"a b c" 
			"a b c"
			"k k c";
			.button-num__item{
				&[data-value = "0" ]{
					grid-area: k;
				}
			}
		}
	}
	.button-function{
		display: grid;
		grid-template-columns: 1fr;
		font-size: 30px;
		&__item , &__item-result{
			&[data-funMonkey="="]{
				background-color: #F8F9FA;
				color: #00111C;
			}
		}
	}
}
@media (max-height: 550px) {
	h1{
		display: none;
	}
	.display{
		font-size: 30px;
	}
	.small-functions-buttons , .button-num__item , .button-function , .small-functions-buttons__item{
		font-size: 22px !important;
	}
}